.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.w-works {
    display: grid;
    gap: 80px 40px;
    grid-template-columns: auto auto;
    margin-bottom: 10vh;
}

.show {
    display: block !important;
}

#myBtnContainer {
    margin: 0 0 40px 0;
}

.btn {
    border: none;
    outline: none !important;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #ddd;
    outline: none !important;
}
  
.btn.active {
    background-color: #666;
    color: white;
    outline: none !important;
}

.filters input {
    height: 46px;
    width: 30%;
}

@media (min-width: 460px) {
    .w-container {
        padding-top: 20vh;
    }

    .w-name {
        color: #151515;
        font-size: 60px;
        margin-bottom: 7vh;
    }
    
    .w-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        display: none;
        position: relative;
    }

    .w-img {
        width: 100%;
        height: 60vh;
        object-fit: cover; 
        transition: .5;
        margin-bottom: 10px;
    }

    .w-card p {
        background-color: rgb(213, 213, 213);
        border: none;
    }

    .w-card h3 {
        color: #151515;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 0.7;
    }

.w-card figcaption {
    position: absolute;
    z-index: 1;
    top: 30vh;
    left: 50%;
    padding: 5px 20px;
    transform: translate(-50%, -50%);
    line-height: 1.1em;
    overflow: hidden;
    height: 44px;
}

.w-card:hover figcaption,
.w-card.hover figcaption {
  background-color: #000000;
}

.w-card:hover .title,
.w-card.hover .title {
  transform: translateY(-150%);
}

.w-card:hover .hover,
.w-card.hover .hover {
  transform: translateY(-150%);
}

}

@media (max-width: 460px) {
    .w-container {
        padding-top: 30vh;
        padding-bottom: 100px;
    }

    .w-name h3 {
        font-size: 16px;
        color: #5f5f5f;
        margin-bottom: 5vh;
    }

    .w-wide-card {
        width: 100%;
    }

    .w-wide-card .wide-img {
        width: 100%;
        height: 35vh;
        object-fit: cover; 
        transition: .5;
    }

    .w-small-card .small-img {
        width: 100%;
        height: 35vh;
        object-fit: cover; 
        transition: .5;
    }
    
    .w-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .w-small-card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .w-card {
        margin-bottom: 80px;
    }

    .w-works-text {
        padding-top: 20px;
    }

    .w-works-text h3 {
        color: #151515;
        font-size: 26px;
        font-weight: 600;
        margin: 0 0 20px 0 !important;
    }
}

.w-card img:hover {
    transition: .5;
    opacity: .92;
}

.w-works-text p {
    color: #151515;
    font-size: 16px;
    padding-bottom: 0;
}

.view-case {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.view-case a {
    color: #151515;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    transition: .3s;
}

.view-case img {
    color: #151515;
    width: 8px;
    margin: 0 0 2px 5px;
}

.view-case a:hover {
    opacity: .6;
    transition: .3s;
}